:root{
    --primary-color: #e67e22;
    --primary-tints-color: #fdf2e9;
    --primary-hover: #cf711f;
    --shade-color: #ffff;
    --accents-color: #ffff;
    --primary-grey: #555;
    --other-grey: #333;
    --basic-white: #fff;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
  }
  
  body{
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-grey);
  }
  
  /*** General Components ***/
  .container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  
  .grid{
    display: grid;
    gap: 9.6rem;
  }
  
  .grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
  }