:root{
    --primary-color: #e67e22;
    --primary-tints-color: #fdf2e9;
    --primary-hover: #cf711f;
    --shade-color: #ffff;
    --accents-color: #ffff;
    --primary-grey: #555;
    --other-grey: #333;
    --basic-white: #fff;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
  }
  
  body{
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-grey);
  }
  
  /*** General Components ***/
  .container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  
  .grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  
  .grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
  }
  .grid--center-v{
      align-items: center;
  }

.heading-primary,
.heading-secondary{
  font-weight: 700;
  color: var(--other-grey);
  letter-spacing: -0.5px;
}

.heading-primary{
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary{
  font-size: 3.0rem;
  line-height: 1.2rem;
  margin-bottom: 9.6rem;
}

.heading-tertiary{
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-hover);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link, 
.btn:visited{
  display: inline-block;
  margin: .5rem !important;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  transition: all 0.5s;
}

.btn--full:link, 
.btn--full:visited{
  background-color: var(--primary-color);
  color: var(--basic-white);
}

.btn--full:hover, 
.btn--full:active{
  background-color: var(--primary-hover);
}

.btn--outline:link, 
.btn--outline:visited{
  background-color: var(--basic-white);
  color: var(--primary-grey);
}

.btn--outline:hover, 
.btn--outline:active{
  background-color: var(--primary-tints-color);
  box-shadow: inset 0 0 0 3px var(--basic-white);
}

.link:link,
.link:visited{
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active{
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon{
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}


/* Helper/ Setting Classes*/

.margin-right-sm{
  margin-right: 1.6rem !important;
}

.margin-bottom-md{
  margin-bottom: 4.8rem !important;
}

.center-text{
  text-align: center;
}

strong{
  font-weight: 500;
}