/*** Header ***/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-tints-color);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo{
  height: 2.2rem;
}

/*** Navigation ***/

.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: var(--other-grey);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active{
  color: var(--primary-hover);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding: 1.6rem 2.4rem;
  border-radius: 9px;
  color: var(--basic-white);
  background-color: var(--primary-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  background-color: var(--primary-color);
}


/*** Hero ***/

.section-hero{
  background: var(--primary-tints-color);
  padding: 4.8rem 0 9rem 0;
}

.hero{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary,
.heading-secondary{
  font-weight: 700;
  color: var(--other-grey);
  letter-spacing: -0.5px;
}

.heading-primary{
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary{
  font-size: 4.4rem;
  line-height: 1.2rem;
  margin-bottom: 9.6rem;
}

.subheading{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-hover);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.hero-description{
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link, 
.btn:visited{
  display: inline-block;
  margin: .5rem !important;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  transition: all .5s;
}

.btn--full:link, 
.btn--full:visited{
  background-color: var(--primary-color);
  color: var(--basic-white);
}

.btn--full:hover, 
.btn--full:active{
  background-color: var(--primary-hover);
}

.btn--outline:link, 
.btn--outline:visited{
  background-color: var(--basic-white);
  color: var(--primary-grey);
}

.btn--outline:hover, 
.btn--outline:active{
  background-color: var(--primary-tints-color);
  box-shadow: inset 0 0 0 3px var(--basic-white);
}

.hero-img{
  width: 100%;
}

.delivered-meals{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-img{
  display: flex;
}

.delivered-img img{
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--primary-tints-color);
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-img img:last-child{
  margin: 0;
}

.delivered-text{
  font-size: 1.8rem;
  font-weight: 500;
}

.section-how{
  padding: 9.6rem 0;
}

.step-img{
  width: 50%;
}


/* How it Works Section */

.section-how{
  padding: 9.6rem 0;
}

.step-number{
  font-size: 8.6rem;
  font-weight: 400;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-img{
  width: 50%;
}