:root{
  --primary-color: #e67e22;
  --primary-tints-color: #fdf2e9;
  --primary-hover: #cf711f;
  --shade-color: #ffff;
  --accents-color: #ffff;
  --primary-grey: #555;
  --other-grey: #333;
  --basic-white: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-grey);
}

.section-hero{
  background: var(--primary-tints-color);
  padding: 9rem 0;
}

.hero{
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary{
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: var(--other-grey);
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description{
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link, 
.btn:visited{
  display: inline-block;
  margin: .5rem !important;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  transition: all .5s;
}

.btn--full:link, 
.btn--full:visited{
  background-color: var(--primary-color);
  color: var(--basic-white);
}

.btn--full:hover, 
.btn--full:active{
  background-color: var(--primary-hover);
}

.btn--outline:link, 
.btn--outline:visited{
  background-color: var(--basic-white);
  color: var(--primary-grey);
}

.btn--outline:hover, 
.btn--outline:active{
  background-color: var(--primary-tints-color);
  box-shadow: inset 0 0 0 3px var(--basic-white);
}

.hero-img{
  width: 100%;
}

.delivered-meals{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-img{
  display: flex;
}

.delivered-img img{
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--primary-tints-color);
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-img img:last-child{
  margin: 0;
}

.delivered-text{
  font-size: 1.8rem;
  font-weight: 500;
}