/*** Header ***/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-tints-color);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo{
  height: 2.2rem;
}

/*** Navigation ***/

.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: var(--other-grey);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active{
  color: var(--primary-hover);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding: 1.6rem 2.4rem;
  border-radius: 9px;
  color: var(--basic-white);
  background-color: var(--primary-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  background-color: var(--primary-color);
}


/*** Hero ***/

.section-hero{
  background: var(--primary-tints-color);
  padding: 4.8rem 0 9rem 0;
}

.hero{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description{
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img{
  width: 100%;
}

.delivered-meals{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-img{
  display: flex;
}

.delivered-img img{
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--primary-tints-color);
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-img img:last-child{
  margin: 0;
}

.delivered-text{
  font-size: 1.8rem;
  font-weight: 500;
}

.section-how{
  padding: 9.6rem 0;
}

.step-img{
  width: 50%;
}


/*Featured Section*/

.section-feature{
  padding: 5rem 0 3.2rem 0;
}

.heading-featured-in{
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}


.logos{
  display: flex;
  justify-content: space-around;
}

.logos img{
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* How it Works Section */

.section-how{
  padding: 9.6rem 0;
}

.step-number{
  font-size: 8.6rem;
  font-weight: 400;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description{
  font-size: 1.5rem;
  line-height: 1.8;
}

.step-img-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after{
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before{
  width: 70%;
  padding-bottom: 70%;
  background-color: var(--primary-tints-color);
  z-index: -1;
}


.step-img-box::after{
  width: 55%;
  padding-bottom: 55%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img{
  width: 40%;
}

/*Meals Section*/

.section-meals{
  padding: 9.6rem 0;
}

.meal{
  box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover{
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06);
}

.meal-content{
  padding: 3.2rem 3.8rem 3.8rem 3.8rem;
}

.meal-tags{
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  
  color: #333;
  border-radius: 10px;
  font-weight: 500;
}

.tag--vegetarian{
  background-color: #51cf66;
}

.tag--vegan{
  background-color: #94d82d;
}

.tag--paleo{
  background-color: #ffd43b;
}



.meal-title{
  font-size: 2.4rem;
  color: var(--other-grey);
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.meal-attributes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.meal-attribute{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon{
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img{
  width: 100%;
}

.all-recipes{
  text-align: center;
  font-size: 1.8rem;
}

/* Testimonial Section */

.section-testimonials{
  background-color: var(--primary-tints-color);
  align-items: center;
  /*padding: 1rem;*/
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  margin-bottom: 1.2rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial-name{
  font-size: 1.6rem;
  color: #6F6F6F;
  padding-top: 1.5rem;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 1.6rem;
}

.gallery-item{
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* Pricing Section */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter{
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete{
  background-color: #fdf2e9;
  padding: 4.8rem;
  overflow: hidden;
  position: relative;
}

.pricing-plan--complete::after{
  content: "Most Popular";
  position: absolute;
  top: 6%;
  right: -9%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 3.2rem;
  transform: rotate(45deg);
}

.plan-header{
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711c;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 0.8rem;
}