:root{
  --primary-color: #e67e22;
  --tints-color: #ffff;
  --shade-color: #ffff;
  --accents-color: #ffff;
  --primary-grey: #555;
  --other-grey: #333;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-grey);
}

.hero{
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading-primary{
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: var(--other-grey);
}

.hero-img{
  width: 100%;
}